<h1>Overview</h1>
Multiverse is a Java based
<a href="http://www.wikipedia.org/wiki/Software_transactional_Memory">Software Transactional Memory</a> (STM)
implementation that wants to realize the following goals:
<ol>
    <li>
        <b>Language independent:</b> so it can be used without relying on instrumentation and therefore can
        easily be used with other languages that can run on the JVM like like Scala, Groovy or JRuby.
    <li>
        <b>Framework:</b> for different STM implementation. This makes it easy to experiment with new features
        or build a customized STM implementation.
    </li>
</ol>
For a more complete list check the <a href="missionstatement.html">mission statement</a>.

<h2>News</h2>
<ul>
    <li>
        <b>1 May 2012: </b> release of <a href="release-0.7.html">Multiverse 0.7</a>. A complete redesign
        where the central clock is removed to improve scalability, a lot of performance improvements, support for
        commute, ensure/privatize, atomic operations on references, isolation levels and pessimistic lock mode levels.
    </li>

    <li>
        <b>1 February 2012:</b> Moved to <a href="https://github.com/pveentjer/Multiverse">github</a>
    </li>
</ul>

